* {
	margin: 0;
	padding: 0;	
}

body {
	font-family: Georgia, serif;
	font-size: 16px;
}

header, nav, section{
	background: #eee;
	border: 1px solid #999;
	padding: 1%;
	margin-bottom: 1px;
	color: black;
}

footer{
	background: #eee;
	text-align: center;
}

nav a{
	margin: 0px 10px 0px 0px;
}

input[type=text]{
	border-style: inset;
}

select{
	background-color: #fbe3e3;
}
input[type=submit]{
	background-color: #FFFFC5;
}
@media only screen and (max-width: 600px){
	header,
	footer{
	display: none;
	}
}